﻿<%@ Master Language="C#" Inherits="System.Web.Mvc.ViewMasterPage" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" >
<head runat="server">
    <link rel="stylesheet" href="http://code.jquery.com/mobile/1.0.1/jquery.mobile-1.0.1.min.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js" type="text/javascript"></script>
    <script src="http://code.jquery.com/mobile/1.0.1/jquery.mobile-1.0.1.min.js" type="text/javascript"></script>
    <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?key=AIzaSyD4Xh336d1nXKpLK0Z-whNZT51uRP4QpkQ&sensor=true"></script>
    <title><asp:ContentPlaceHolder ID="TitleContent" runat="server" /></title>
    <script type="text/javascript">
        window.setActivePage = function (p) {
            $("#main-navbar li").each(function () { 
                    $(this).removeClass("ui-btn-active"); 
                });
            $("#" + p + "-button").addClass("ui-btn-active");
        }

        function pageScript(func) {
            var $context = $("div:jqmData(role='page'):last");
            func($context);
        }
    </script>
</head>
<body>
    <div data-role="page" data-theme="e" style="width:100%; height:100%">

	<div data-role="header" data-position="fixed">
		<h1>Mats mobiltest</h1>
        <div data-role="navbar" id="main-navbar" data-iconpos="right">
	        <asp:ContentPlaceHolder ID="NavBar" runat="server"></asp:ContentPlaceHolder>
        </div><!-- /navbar -->

	</div><!-- /header -->

	
        <asp:ContentPlaceHolder ID="MainContent" runat="server">
        
        </asp:ContentPlaceHolder>

</div><!-- /page -->
</body>
</html>
